.register-box-back {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-box {
    width: 400px;
    height: min-content;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, .1);
    background-color: white;
}

.register-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.register-form-input {
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 10px 20px;
    border-radius: 10px;
    width: 100%;
}

.register-form-submit {
    background-color: rgb(16, 71, 122);
    color: white;
    padding: 10px 20px;
    width: min-content;
    white-space: nowrap;
    border-radius: 8px;
    cursor: pointer;
    transition: .3s;
}

.register-form-submit:hover {
    background-color: rgb(6, 43, 77);
}

.response-message {
    padding: 10px 15px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.error-message{
    background-color: rgba(253, 176, 176, .4);
    color: rgb(179, 10, 10);
}

.success-message{
    background-color: rgb(156, 244, 156);
    color: green;
}